.container div{
    border-radius: 5%;
}


.base{
    background-color: blue;
}

.important{
    background-color:midnightblue ;
}

.warning{
    background-color:aqua;
}


#shadow{
    box-shadow: 15px 12px 10px 3px rgb(109, 107, 107);
}