.container div{
    border-radius: 5%;
}

.container div:first-child{
    background-color: blue;
}

.container div:nth-child(2){
    background-color:midnightblue ;
}

.container div:nth-child(3){
    background-color:aqua;
}


.container div:last-child{
    box-shadow: 15px 12px 10px 3px rgb(109, 107, 107);
}