.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 20px;
    gap: 10px;
}

.image{
    display: grid;
    img{
        inline-size: 100%;
    }
}

.title{
    display: grid;
    font-size: 40px;
    margin: 15px;
    align-items: center;
}

.card{
    border: solid 1px grey;
    background-color: rgb(245, 238, 238);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    p{
        margin: 15px;
        text-align: justify;
    }
}

.infoPublish{
    margin: 15px;
    display: flex;
    justify-content: flex-end;

    span:nth-child(1){
        font-weight: bold;   
    }

    span:nth-child(2){
        color: firebrick;  
        margin-left: 5px; 
    }
}

.more-info{
    display: grid;
    height: 70px;

    button{
        background-color:lightsalmon;
        border: none;
        margin: 10px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: white;
    }
}
